# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
.env

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Database
*.sqlite3
*.db

# Logs
*.log

# Alembic
migrations/__pycache__/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Format & Styling
.vscode/
setting.json